# Local: /sistemachacara/
# Host:  /
BASE_URL=/sistemachacara/

# Banco de dados
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=
DB_NAME=sistemachacara

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
