@use "../abstracts/variables" as *;

.btn-login {
    width: 100%;
    padding: 14px;
    background: $gradient-100;
    color: white;
    border: none;
    border-radius: $radius-sm;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s;

    &:hover {
        transform: translateY(-1px);
        box-shadow: $shadow-02;
    }

    &:active {
        transform: translateY(0);
    }
}

.btn-confirmar,
.btn-cancelar {
    padding: 10px 18px;
    border-radius: $radius-md;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    text-decoration: none;
    transition: 0.1s ease;
    display: inline-block;
}

.btn-cancelar {
    background: #e0e0e0;
    color: $text-dark;

    &:hover {
        background: #d0d0d0;
    }
}

.btn-confirmar {
    background: $gradient-100;
    color: white;

    &:hover {
        transform: translateY(-1px);
        box-shadow: $shadow-02;
    }
}

/* BASE CRUD */
.btn-editar,
.btn-excluir,
.btn-novo {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    padding: 8px 16px;
    border-radius: $radius-md;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.1s ease;
    cursor: pointer;
}
.btn-excluir i,
.btn-novo i {
    transform: translateY(1px);
}

/* EDITAR */
.btn-editar {
    background: $edit;
    color: $text-dark;

    &:hover {
        background: $edit-hover;
    }
}

/* EXCLUIR */
.btn-excluir {
    background: $danger;
    color: white;

    &:hover {
        background: $danger-hover;
    }
}

/* NOVO */
.btn-novo {
    background: $gradient-100;
    color: white;

    &:hover {
        transform: translateY(-1px);
        box-shadow: $shadow-02;
    }
}

/* VOLTAR */
.btn-voltar {
    border: 1px solid $border-neutral;
    background: #ddd;
    color: $text-dark;
    padding: 10px 16px;
    border-radius: $radius-sm;
    font-weight: 600;
    text-decoration: none;

    i {
        margin-right: 4px;
    }

    &:hover {
        background: #ccc;
    }
}


/* FORM */
.form-botoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
    margin-top: 15px;

    .btn {
        padding: 12px 20px;
        border-radius: $radius-md;
        font-size: 15px;
        font-weight: 600;
        border: none;
        cursor: pointer;

        display: inline-flex;
        align-items: center;
        gap: 8px;

        &.btn-salvar {
            background: $gradient-100;
            color: white;

            i {
                display: flex;
                align-items: center;
                font-size: 14px;
            }

            &:hover {
                transform: translateY(-1px);
                box-shadow: $shadow-card;
            }
        }

        &.btn-cancelar {
            border: 1px solid $border-neutral;
            background: #e0e0e0;
            color: $text-dark;

            &:hover {
                background: #d0d0d0;
            }
        }
    }
}