@use "../abstracts/variables" as *;

.btn-login {
    width: 100%;
    padding: 14px;
    background: $gradient-100;
    color: white;
    border: none;
    border-radius: $radius-sm;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s;

    &:hover {
        transform: translateY(-1px);
        box-shadow: $shadow-02;
    }

    &:active {
        transform: translateY(0);
    }
}

.btn-confirmar,
.btn-cancelar,
.btn-fechar {
    padding: 10px 18px;
    border-radius: $radius-md;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    text-decoration: none;
    transition: 0.1s ease;
    display: inline-block;
}

.btn-cancelar {
    background: #e0e0e0;
    color: black;

    &:hover {
        transform: translateY(-1px);
        box-shadow: $shadow-soft;
    }
}

.btn-confirmar {
    background: $gradient-100;
    color: white;

    &:hover {
        transform: translateY(-1px);
        box-shadow: $shadow-02;
    }
}

/* BASE CRUD */
.btn-editar,
.btn-excluir,
.btn-novo {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    padding: 8px 16px;
    border-radius: $radius-md;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.1s ease;
    cursor: pointer;
}

.btn-excluir i,
.btn-novo i {
    transform: translateY(1.5px);
}

/* EDITAR */
.btn-editar {
    background: $gradient-100;
    color: white;

    &:hover {
        transform: translateY(-1px);
        box-shadow: $shadow-02;
    }

    i {
        transform: translateY(1px);
    }
}

/* EXCLUIR */
.btn-excluir {
    background: $danger;
    color: white;

    &:hover {
        transform: translateY(-1px);
        box-shadow: $shadow-02;
    }
}

/* NOVO */
.btn-novo {
    background: $gradient-100;
    color: white;
    height: 43px;
    border: none;
    border-radius: $radius-md;

    &:hover {
        transform: translateY(-1px);
        box-shadow: $shadow-02;
    }
}

.btn-fechar {
    background: #e0e0e0;
    color: black;
    height: 43px;

    &:hover {
        transform: translateY(-1px);
        box-shadow: $shadow-soft;
    }
}

/* VOLTAR */
.btn-voltar {
    background: #ddd;
    color: black;
    padding: 10px 16px;
    border-radius: $radius-sm;
    font-weight: 600;
    text-decoration: none;

    i {
        margin-right: 4px;
    }

    &:hover {
        transform: translateY(-1px);
        box-shadow: $shadow-soft;
    }
}

/* FORM */
.form-botoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;

    .btn {
        padding: 12px 20px;
        border-radius: $radius-md;
        font-size: 15px;
        font-weight: 600;
        border: none;
        cursor: pointer;

        display: inline-flex;
        align-items: center;
        gap: 8px;

        &.btn-salvar {
            background: $gradient-100;
            color: white;

            i {
                display: flex;
                align-items: center;
                font-size: 17px;
            }

            &:hover {
                transform: translateY(-1px);
                box-shadow: $shadow-card;
            }
        }

        &.btn-cancelar {
            background: #e0e0e0;
            color: black;

            &:hover {
                transform: translateY(-1px);
                box-shadow: $shadow-soft;
            }
        }
    }
}

.popup-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

/* RELATÓRIO */
.btn-relatorio {
    border: none;
    cursor: pointer;
    align-self: flex-start;
    background: $gradient-75;
    color: #fff;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s ease;
    display: inline-flex;
    align-items: center;
    gap: 6px;

    &:hover {
        box-shadow: $shadow-02;
        transform: translateY(-1px);
    }

    &:active {
        transform: scale(0.92);
    }
}