@use "../abstracts/variables" as *;

.form-group {
    margin-bottom: 20px;

    label {
        display: block;
        color: $text-dark;
        font-weight: 600;
        margin-bottom: 8px;
        font-size: 14px;
    }

    input {
        width: 100%;
        padding: 12px 16px;
        border: 2px solid #e0e0e0;
        border-radius: $radius-md;
        font-size: 15px;
        transition: border-color .3s;

        &:focus {
            outline: none;
            border-color: #667eea;
        }
    }
}

.cadastro-area {
    background: white;
    padding: 40px 50px;
    border-radius: 16px;
    box-shadow: $shadow-card;
    max-width: 700px;
    margin: 40px auto;
    margin-top: 25px;

    @media (max-width: 480px) {
        padding: 25px;
    }
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form-grupo {
        display: flex;
        flex-direction: column;

        label {
            font-weight: 600;
            color: $text-dark;
            margin-bottom: 6px;
        }

        input,
        select,
        textarea {
            padding: 12px 14px;
            border: 1px solid $border-neutral !important;
            border-radius: $radius-md;
            font-size: 15px;
            transition: border-color 0.3s, box-shadow 0.3s;

            &:focus {
                outline: none;
                border-color: #667eea;
                box-shadow: 0 0 6px rgba(102, 126, 234, 0.4);
            }
        }

        textarea {
            resize: none;
            overflow: hidden;
            min-height: 80px;
        }

        &.checkbox {

            label {
                display: flex;
                align-items: center;
                gap: 4px;
                font-weight: 500;
                cursor: pointer;
                transition: .2s ease;

                &:hover {
                    opacity: .8;
                }
            }

            input[type="checkbox"] {
                margin: 0 5px;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }
}

/* Setinha dos inputs select */
.select-wrapper {
    position: relative;

    select {
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
    }

    &::after {
        content: "\f078"; // ícone fa-chevron-down
        font-family: "Font Awesome 6 Free";
        font-weight: 900;

        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 13px;

        pointer-events: none;
    }
}

/* Input time sem relógio */
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Input number sem setinhas */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Input date sem calendário */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}